<div ng-class="{true: 'col-sm-4 col-sm-offset-4 loginContainer animated shake', false: 'col-sm-4 col-sm-offset-4 loginContainer'}[loginError == true]">
    <div class="logo">
        <a href="/#/">
            <img class="logo" src="../images/logo.jpg">
        </a>
    </div>
    <div style="margin-bottom: 20px">
        <p style="font-weight:600; text-align:center" class="secondaryColor">Forgot Password?</p>
        <p style="text-align:center" class="secondaryColor">Please enter your registered mobile number <br>We will send you a one time password (OTP)</p>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group input-group-in roundedBorder" style= "width:100%">
                <input style ="padding:5px; border-radius:20px" ng-model="username" type="text" class="form-control" name="mobileNumber" required minlength="10" placeholder="Phone Number" autocomplete="off">
            </div>
        </div>
        <div class="form-group form-actions" style="margin-top:50px;">
            <input style ="width:100%; border-radius:20px;" ng-click="submitForgotPassword()" type="submit" class="btn primaryColorFill" value="Sign In">
        </div>
    </form>
</div>