<div ng-class="{true: 'col-sm-4 col-sm-offset-4 loginContainer animated shake', false: 'col-sm-4 col-sm-offset-4 loginContainer'}[loginError == true]">
    <div class="logo">
        <a href="/#/">
            <img class="logo" src="../images/logo.jpg">
        </a>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group input-group-in roundedBorder" style= "width:100%; margin-top:10px; margin-bottom:10px;">
                <input style ="padding:5px; border-radius:20px" ng-model="phoneNumber" type="text" class="form-control" name="phoneNumber" required minlength="10" placeholder="Phone Number" autocomplete="off">
            </div>
            <div class="input-group input-group-in roundedBorder" style= "width:100%; margin-top:10px; margin-bottom:10px;">
                <input style ="padding:5px; border-radius:20px" ng-model="username" type="text" class="form-control" name="name" required minlength="4" placeholder="Name" autocomplete="off">
            </div>
            <div class="input-group input-group-in roundedBorder" style= "width:100%; margin-top:10px; margin-bottom:10px;">
                <div style="width:50%; float:left"><input type="radio" name="type" value="dealer" checked> Dealer</div>
                <div style="width:50%; float:left"><input type="radio" name="type" value="employee"> Employee</div>
            </div>
            <div class="input-group input-group-in roundedBorder" style= "width:100%; margin-top:10px; margin-bottom:10px;">
                <input style ="padding:5px; border-radius:20px" ng-model="dealerCode" type="text" class="form-control" name="dealerCode" placeholder="Dealer Code" autocomplete="off">
            </div>
            <div class="input-group input-group-in roundedBorder" style= "width:100%; margin-top:10px; margin-bottom:10px;">
                <input style ="padding:5px; border-radius:20px" ng-model="dealerName" type="text" class="form-control" name="dealerName" placeholder="Dealer Name" autocomplete="off">
            </div>
            <div class="input-group input-group-in roundedBorder dropdown" style= "width:100%; margin-top:10px; margin-bottom:10px;">
                <select class="form-control" id="sel1">
                    <option>Driving License</option>
                    <option>Voter Card</option>
                    <option>Passport</option>
                    <option>Adhaar Card</option>
                </select>
            </div>
            <div style="text-align:center">
                <a class="primaryColor">Upload Identity Proof</a>
            </div>
        </div>
        <div class="form-group form-actions" style="margin-top:50px;">
            <input style ="width:100%; border-radius:20px;" ng-click="submitSignup()" type="submit" class="btn primaryColorFill" value="Sign Up">
        </div>
        <div style="text-align:center">
            <p class="secondaryColor">Already have an account? <a class="primaryColor" href="/#/login">Sign In</a></p>
        </div>
    </form>
</div>